{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>

    div.dataTables_wrapper {
        width: auto;
        margin: auto;
    }


    </style>
{% endblock %}
{% block content %}


<!--
<!DOCTYPE html>
<html lang="it">
<head>


    <meta charset="UTF-8">

-->
<style type="text/css">
    #lstBox1, #output_option, #calcolo{
  height:400px;

}


.box{
    margin-right: 30px;
  margin-left: 30px;
}

.set_input{
    display:flex;
    justify-content:center;
    border-style: solid;
}

.transferBtns {
  margin-right: 30px;
  margin-left: 30px;
}

.transferBtns{
  float:left;
  align-self:center;
}

.set_output{
  justify-content:center;
    border-style: solid;
    width: auto;
    height: auto;}

.textarea{
    width: 300px;
  height: 150px;
    margin-right: 10px;
  margin-left: 10px;
}


input {float:left;}

#nome_completo_variabile {
    clear: both;
}






</style>


<script>
function showcontent(elem) {
        //var popup = document.getElementById("myPopup");
        //popup.classList.toggle("show")
        console.log(elem.value);
        $("#nome_completo_variabile").text(elem.value);
    }
</script>




<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class = "bd-card">
                <div class="card">
                    <h5 class="card-header"> Variables</h5>
                    <div class="card-body">

                   <!-- <select id='lstBox1' class="custom-select" multiple="multiple" > -->
                   <select id='lstBox1' class="form-control" multiple="multiple">
                   {% for variable in variable_name_type %}
                        <option onmouseover="showcontent(this)" value= "{{variable}}">{{ variable }} :  {{variable_name_type[ variable ]}} </option>
                   {% endfor %}
                      <!--
                       onmouseenter="mouselog(event)" onmouseleave="mouselog(event)"
                      <option value="ajax">Ajax</option>
                      <option value="jquery">jQuery</option>
                      <option value="javascript">JavaScript</option>
                      <option value="mootool">MooTools</option>
                      <option value="prototype">Prototype</option>
                      <option value="dojo">Dojo</option>
                      -->
                    </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class = "bd-card">
                <div class="card">
                    <h5 class="card-header"> Operation</h5>
                    <div class="card-body">



    <!-- <div class="box"> -->

                       <select class="custom-select" multiple="multiple" id='output_option'>
                          <option value="+">+</option>
                          <option value="-">-</option>
                          <option value="/">/</option>
                          <option value="*">*</option>
                          <option value="**">**</option>
                           <option value="(">(</option>
                           <option value=")">)</option>
                           <option value="==">==</option>
                           <option value=">=">>=</option>
                           <option value="<="><=</option>
                           <option value=">">></option>
                           <option value="<"><</option>
                           <option value="|">|</option>
                           <option value="&">&</option>

                        </select>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="box"> -->
        <div class="col-2">
            <div class = "bd-card">
                <div class="card">
                    <h5 class="card-header"> Costant</h5>
                    <div class="card-body">

                        <input id="costante">
                    </div>
                </div>
            </div>

            <div class = "bd-card">
                <div class="card">
                    <h5 class="card-header"> move</h5>
                    <div class="card-body">

                          <input type='button' class="btn btn-secondary btn-sm"  id='btnRight' value ='  >  '/>
                          </br>
                          </br>
                          <input type='button' class="btn btn-secondary btn-sm" id='btnLeft'  value ='  <  '/>
                          </br>
                          </br>

                          <input type="submit" id="generate_code" class="btn btn-primary btn-sm" value="load"/>


                    </div>
                </div>
            </div>
        </div>





    <!-- <div class="box"> -->
        <div class="col-3">
            <div class = "bd-card">
                <div class="card">
                    <h5 class="card-header"> calcolo</h5>
                    <div class="card-body">
                        <b>Calcolo </b><br/>
                        <select class="custom-select" multiple="multiple" id='calcolo'>
                        </select>
                    </div>
                </div>
            </div>
        </div>






</div>
    <div class="row">
        <div class = "col-4">
            <div class = "bd-card">
                <div class="card">
                    <h5 class="card-header"> var name (on mouse over) </h5>
                    <div class="card-body">

                        <p id="nome_completo_variabile"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class = "col-8">
            <form action = "{{url_for('calc_output')}}" method = "POST">
                <div class = "bd-card">
                    <div class="card">
                    <h5 class="card-header"> python code output </h5>
                        <div class="card-body">


                            <b>New variable name</b> </br>
                            <input id="nuova_variabile" name="new_variabile">
                            </br>
                                <p>dataset</p>
                                <div>
                                <textarea rows="1" columns = "100" id="dataset" class="form-control" aria-label="dataset" name="dataset">{{ dataset }}</textarea>
                                <p>formula</p>
                                <textarea rows="4" columns = "200" id="cell"textarea class="form-control" aria-label="forumla" name="formula"></textarea>
                                </div>
                            <input type="submit" class="btn btn-primary" value="execute python code">
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>



</body>




<script>
    $(document).ready(function() {
    $('#btnRight').click(function(e) {
        var selectedOpts = $('#lstBox1 option:selected');
        var selectedOpts1 = $('#output_option option:selected');
        var costant = $("#costante").val();
        console.log(costant.length)
        if (selectedOpts.length == 0 && selectedOpts1.length == 0 && costant.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }
        if (selectedOpts.length != 0 && costant.length == 0)
        {
            //$('#lstBox2').append($(selectedOpts).clone());
            var insert_data = 'data[u"' + String($("#lstBox1").val()[0]) + '"]'
            $('#calcolo').append(new Option(insert_data, insert_data, true, true));

            e.preventDefault();


        } else if (selectedOpts1.length != 0 && costant.length == 0) {
            //$('#lstBox2').append($(selectedOpts1).clone());

            var insert_data = String($("#output_option").val()[0])
            $('#calcolo').append(new Option(insert_data, insert_data, true, true));

            e.preventDefault();

        } else if (costant.length > 0) {

            $('#calcolo').append(new Option(costant, costant, true, true));
            e.preventDefault();

        }
        $("#lstBox1").val([]);
        $("#output_option").val([]);
        $("#costante").val([]);

    });


    $('#btnLeft').click(function(e) {
        var selectedOpts = $('#calcolo option:selected');
        if (selectedOpts.length == 0) {
            alert("Nothing to move.");
            e.preventDefault();
        }

        $(selectedOpts).remove();
        e.preventDefault();
    });


    $('#generate_code').click(function(e) {
        console.log($("#calcolo").text());
        $("#cell").val( $("#calcolo").text().replace(/\r?\n/g, ''));
    });





});



</script>
{% endblock %}