{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="google-site-verification" content="Nv5IAGH_QqfMJWpsdpM-sSkZX6SQj2uv4Rh-gmHZUX8" />
    <style>
    #action_nav {
    display: none;
    }

    </style>

{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
              <h1 class="display-4">SoSciKit</h1>
              <p class="lead">Social Science Kit - Open Source Software for Social Science</p>
              <hr class="my-4">
              <p>SoSciKit is a web application for simplified data analysis based on Python scientific libraries and Flask. The web application allows to use the python libraries through a graphical interface even to those who do not know programming language.</p>
            </div>
        </div>
    </div>

{#        <div class="col-sm">#}
{#            <div class="card" style="width: 18rem;">#}
{#                <img src="{{ url_for('static', filename='images/statistics.svg') }}" class="card-img-top" alt="...">#}
{#                <div class="card-body">#}
{#                <p class="card-text">Analyze data</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-sm">#}
{#            <div class="card" style="width: 18rem;">#}
{#                <img src="{{ url_for('static', filename='images/statistics.svg') }}" class="card-img-top" alt="...">#}
{#                <div class="card-body">#}
{#                <p class="card-text">Transform</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-sm">#}
{#            <div class="card" style="width: 18rem;">#}
{#                <img src="{{ url_for('static', filename='images/statistics.svg') }}" class="card-img-top" alt="...">#}
{#                <div class="card-body">#}
{#                <p class="card-text">Compute</p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    </div>#}
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm">
                    <div class="card">
                        <h5 class="card-header"> You can use a loaded file or ... </h5>
                        <div class="card-body">
                                <form action = "{{url_for('load')}}" method = "POST">
                                <select name="load" class="form-control">
                                {% for file in files %}
                                    <option value= "{{file}}" name="load" >{{ file }}</option>
                                {% endfor %}
                                </select>

                                  <p> which type of file? </p>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="file_config" value="standard_excel" id="standard_excel" checked>
                                    <label class="form-check-label" for="standard_excel"> standard excel </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="file_config" value="excel_google_form" id="excel_google_form">
                                    <label class="form-check-label" for="excel_google_form">excel google form</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="file_config" value="csv1" id="csv1">
                                    <label class="form-check-label" for="csv1">csv with ; separator</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="file_config" value="csv2" id="csv2">
                                    <label class="form-check-label" for="csv2">csv with , separator</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="file_config" value="remove" id="remove">
                                    <label class="form-check-label" for="remove">remove file</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="file_config" value="create_subset" id="create_subset">
                                    <label class="form-check-label" for="create_subset">create subset (for now - excel only)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="file_config" value="join_dataset" id="join_dataset">
                                    <label class="form-check-label" for="join_dataset">join dataset (soon..)</label>
                                </div>
                                    <p><a href="{{ url_for("jupyter") }}"> start jupyter (only local installation) </a></p>



                                <p>upload status = {{ upload }} </p>

                                <input type="submit" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        <div class = "row">
            <div class="col-sm">
                    <div class="card">
                        <h5 class="card-header"> ... upload new file </h5>
                            <div class="card-body">


                                <form action = "{{ url_for('upload_file') }}" method = "POST"
                                    enctype = "multipart/form-data">
                                    <input type = "file" name = "file" />
                                 <input type="submit" class="btn btn-primary">
                                </form>

                            </div>
                    </div>
                </div>
        </div>

    </div>


        <div class="col-sm-2 d-flex align-items-stretch" >
            <div class="card">
                <h5 class="card-header">Load / Transform / Join </h5>
                  <img src="{{ url_for('static', filename='images/statistics.svg') }}" class="card-img-top" alt="...">

                  <div class="card-body">
                    <h5 class="card-title">Manage your data</h5>
                    <p class="card-text">You can use Soscikit to handle your dataset: load, delete, transform and join </p>

              </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex align-items-stretch">
            <div class="card">
                <h5 class="card-header">Analyze</h5>
                  <img src="{{ url_for('static', filename='images/analysis.svg') }}" class="card-img-top" alt="...">

                  <div class="card-body">
                    <h5 class="card-title">Go deep on your data</h5>
                    <p class="card-text">Analyze your data with simplified UI and get you table and plot. You can get monovariate, bivariate, typology and clusterization.</p>

              </div>
            </div>
        </div>
        <div class="col-sm-2 d-flex align-items-stretch">
            <div class="card">
                <h5 class="card-header">Compute</h5>
                  <img src="{{ url_for('static', filename='images/programming.svg') }}" class="card-img-top" alt="...">

                  <div class="card-body">
                    <h5 class="card-title">Create new variables and new index</h5>
                    <p class="card-text">Use the power of python</p>
                    <a href="#" class="btn btn-primary">Documentation</a>
              </div>
            </div>
        </div>

    </div>



</div>

{% endblock %}

